<mat-toolbar color="warn" class="title">City Insta</mat-toolbar>
<div>
    <app-posts (click)="onClick()"[pictureUrl]="https://www.google.com/search?q=berlin&source=lnms&tbm=isch&sa=X&ved=2ahUKEwi50-rd84TvAhUSxBQKHY11DqEQ_AUoAXoECBMQAw&biw=1536&bih=754&dpr=1.25#imgrc=-zeKWW3XL6YyHM"></app-posts>
    <app-posts (click)="onClick()"[pictureUrl]="https://www.google.com/search?q=paris&tbm=isch&ved=2ahUKEwiQ9Zvf84TvAhXWw4UKHVCkAJAQ2-cCegQIABAA&oq=paris&gs_lcp=CgNpbWcQAzIECAAQQzICCAAyAggAMgQIABBDMgQIABBDMgIIADIECAAQQzICCAAyAggAMgIIAFDCwgNYntIDYJ_TA2gAcAB4AIABggGIAbQIkgEDMi44mAEAoAEBqgELZ3dzLXdpei1pbWewAQDAAQE&sclient=img&ei=OoY3YJDwEdaHlwTQyIKACQ&bih=754&biw=1536#imgrc=_CKRbnhM_VTpVM"></app-posts>
    <app-posts (click)="onClick()"[pictureUrl]="https://www.google.com/search?q=ohrid&tbm=isch&hl=en&sa=X&ved=2ahUKEwjQmPOM9ITvAhVB44UKHTWpAFQQrNwCKAF6BQgBELsC&biw=1519&bih=754#imgrc=9t-izmCtY4tWNM"></app-posts>
    <app-posts (click)="onClick()"[pictureUrl]="https://www.google.com/search?q=new+york&tbm=isch&ved=2ahUKEwj6vemU9ITvAhUUgHMKHWEbB_kQ2-cCegQIABAA&oq=new+york&gs_lcp=CgNpbWcQAzICCAAyAggAMgIIADICCAAyAggAMgIIADICCAAyAggAMgIIADICCAA6BAgAEENQ67kBWNTPAWCZ0QFoAHAAeACAAYABiAGFCpIBAzQuOJgBAKABAaoBC2d3cy13aXotaW1nsAEAwAEB&sclient=img&ei=qoY3YPrAK5SAzgPhtpzIDw&bih=754&biw=1519&hl=en#imgrc=bWA70mRhWfZqJM"></app-posts>
    <app-posts (click)="onClick()"[pictureUrl]="https://www.google.com/search?q=firenze&tbm=isch&ved=2ahUKEwjS56Ki9ITvAhXzgM4BHW85CvkQ2-cCegQIABAA&oq=firen&gs_lcp=CgNpbWcQARgAMgIIADICCAAyAggAMgIIADICCAAyAggAMgIIADICCAAyAggAMgIIADoECAAQQ1DUigJYhKACYNSrAmgAcAB4AIABtQGIAb8KkgEDMy45mAEAoAEBqgELZ3dzLXdpei1pbWewAQDAAQE&sclient=img&ei=xoY3YNLsN_OBur4P7_KoyA8&bih=754&biw=1519&hl=en#imgrc=yblOeFwRynwQrM"></app-posts>
</div>

<div *ngFor="let post of posts">
    <app-posts (click)="onClick(post)"[pictureUrl]="post.photoUrl"></app-posts>
</div>

<cdk-virtual-scroll-viewport [itemSize]="200" style="height: 700px">
<div *cdkVirtualFor="let post of posts">
    <app-posts (click)="onClick(post)"[pictureUrl]="post.photoUrl"></app-posts>
</div>
<div style="padding: 30px;">
    <button mat-fab color="basic" (click)="onLoadMore()">Next</button>
</div>
</cdk-virtual-scroll-viewport>